@keyframes blink {
  50% {
    opacity:0;
  }
}

h2{
	font-weight: 500;
	font-size:medium
}

.canvasContainer {
  display:flex;
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  margin-top: 1rem;
  padding-top:10px
 }  


.typed-text-container{
  display:flex;
  align-items:center;
  justify-content:center;
}

.typed-text{
  text-align:left;
  width: 70%;
  line-height: 1.5;
  text-align:center;
}

.blinking-cursor:after {
	content: '|';
	animation: blink 1s step-start infinite;
}

.startBtn {
  cursor: pointer;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width:100px;
  height: 50px;
  border-radius: 8px;
  background-color:aquamarine;
  border: 0px;
  font-weight:600;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

}

.startBtn:disabled {
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width:100px;
  height: 50px;
  border-radius: 8px;
  background-color:grey;
  border: 0px;
  font-weight:600;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.navContainer{
  position:relative;
  margin: 20px;
  height:1rem
}

.navigation{ 
  cursor:pointer;
  position: fixed;
  top:15px;
  color: black;
  font-size:1rem;
  text-underline-offset: 2px;
  background-color:white;
}
.backHome{
  left:20px; 
}

.moreInf{
  right:20px;
}
